# Prioritize Python in GitHub language stats
*.py linguist-detectable
*.html linguist-vendored
*.js linguist-vendored
*.css linguist-vendored
migrations/** linguist-vendored
static/** linguist-vendored
